@import './constants.css';

html, body{
    margin: 0;
    padding: 0;
}
.App {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg-color);
}

button {
    background: var(--dark-tile);
    color: var(--light-tile);
    border: 2px solid var(--light-tile);
    padding: 1.2vh 3.5vh;
    margin: 10px 0px;
    font-size: 1.2rem;
    border-radius: 10px;
}