:root {
    --tile-size: 65px;
    --offset : 90px;
    /* --light-tile: #F0D8B7;
    --dark-tile: #B48764;
    --bg-color: #202020; */
    --light-tile: #ffffff;
    --dark-tile: #30c6d9;
    --bg-color: #c0f4ff;
    --highlight: rgba(0,0,0,0.1);
}

@media all and (max-width: 450px){
    :root {
        --tile-size: 35px;
        --offset: 130px;
    }
}